<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>  
  <body>
    <%- include('layout'); %>
    <nav class="navbar navbar-light" style="background-color: #32b4a2;">
      <form class="form-inline">
        <div class="search-bar-container">
        <input class="form-control mr-sm-2" id="book-search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </div>
      </form>
    </nav>
    <div class="books-grid">
        <% for (let book of books) {%>
            <div class="book-card">
                <img class="book-card-cover" src="<%= book.cover_image %>">
                <div class="book-card-middle prevent-select">Add Book</div>
                <h5 class="book-card-title book-card-text"><%= book.title %></h5>
                <h6 class="book-card-author book-card-text"><%= book.author%></h6>
            </div>
        <% } %>
    </div>
  </body>
</html>
    </div>
  </body>
  <script src="/js/search.js"></script>
</html>
